<template>
  <b-container class="bv-example-row">
    <b-row>
      <tab-buttons></tab-buttons>
    </b-row>
    <b-row align-v="center">
      <side-bar></side-bar>
      <my-tab></my-tab>
      <!-- <card></card> -->
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
// import Card from "@/components/Card.vue";
import Tab from "@/components/Tab.vue";
import TabButtons from "@/components/TabButtons.vue";
import Sidebar from "@/components/Sidebar.vue";

export default {
  name: "Home",
  components: {
    // card: Card,
    "my-tab": Tab,
    "tab-buttons": TabButtons,
    "side-bar": Sidebar
  }
};
</script>

<style scoped>
.split2 {
  float: left;
  width: 50%;
}
</style>
