<template>
  <div>
    <b-col>
      <b-card
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Tree"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <template v-slot:header>
          <h6 class="mb-0">Header Slot</h6>
        </template>
        <b-card-text>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit,
          iusto?
        </b-card-text>

        <b-button href="#" variant="primary">Go somewhere</b-button>

        <template v-slot:footer>
          <em>Foot Slot</em>
        </template>
      </b-card>
    </b-col>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
