<template>
  <b-col md="auto">
    <div>
      <b-nav vertical class="w-25">
        <b-button v-on:click="getSidebarFilesList">
          <b-icon-download></b-icon-download>
        </b-button>
        <b-nav-item
          v-for="aFile in files_list"
          v-bind:key="aFile.id"
          v-on:click="openFromSidebar(aFile)"
        >
          {{ aFile.name }}
        </b-nav-item>
      </b-nav>
    </div>
  </b-col>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Sidebar",
  computed: { ...mapGetters(["files_list"]) },
  methods: {
    getSidebarFilesList() {
      this.$store.dispatch("get_sidebar_files_list");
    },
    openFromSidebar(aFile) {
      this.$store.dispatch("open_from_sidebar", aFile);
    }
  }
};
</script>

<style></style>
