<template>
  <div>
    <b-col cols="12">
      <!-- Tabs with card integration -->
      <b-card no-body style="width:55rem; height:15rem" class="mb-2">
        <b-tabs v-bind:value="tab_index" small card>
          <b-tab
            v-for="aFile in tabs_list"
            :key="aFile.id"
            :title="aFile.name"
            v-on:click="synchronizeTabIndex(aFile.tab)"
          >
            Tab contents {{ aFile.tab }}
          </b-tab>
        </b-tabs>
      </b-card>
    </b-col>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Tab",
  data() {
    return {};
  },
  computed: { ...mapGetters(["tab_index", "tabs_list"]) },
  methods: {
    synchronizeTabIndex(indexTab) {
      this.$store.dispatch("synchronize_tab_index", indexTab);
    }
  }
};
</script>

<style></style>
