<template>
  <b-col>
    <!-- Control buttons-->
    <div class="text-center">
      <b-button-group class="mt-2">
        <b-button @click="decrementTabIndex()">Previous</b-button>
        <b-button @click="incrementTabIndex()">Next</b-button>
      </b-button-group>

      <div class="text-muted">Current Tab: {{ tab_index }}</div>
    </div>
  </b-col>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "TabButtons",
  computed: { ...mapGetters(["tab_index"]) },
  methods: {
    incrementTabIndex() {
      this.$store.dispatch("increment_tab_index");
    },
    decrementTabIndex() {
      this.$store.dispatch("decrement_tab_index");
    }
  }
};
</script>

<style></style>
